@using HairSalon.Models;
@{
  Layout = "_Layout";
}
<div class="container center">
  <h1><img class="small" src="~/img/stylists.png" alt="stylist logo"> Stylist : @Model["stylist"].GetName()</h1>

  <p>Email: <strong>@Model["stylist"].GetEmail()</strong></p>
  <p>Phone number: <strong>@Model["stylist"].GetPhoneNumber()</strong></p>
  <p>Schedule: <strong>@Model["stylist"].GetSchedule()</strong></p>
  <p>Haircut styles: <strong>@Model["stylist"].GetHaircutStyles()</strong></p>

  @if(Model["specialties"].Count == 0)
  {
    <p>No specialties for this stylist.</p>
  }
  @if(Model["specialties"].Count != 0)
  {
    <p><strong>Specialties:</strong></p>
    @foreach(Specialty specialty in Model["specialties"])
    {
      <p>@specialty.GetDescription()</p>
    }
  }

  <br>
  @if(Model["clients"].Count == 0)
  {
    <p>No client for this stylist.</p>
  }
  @if(Model["clients"].Count != 0)
  {
    <p>Clients:</p>
    <ul>
    @foreach(Client client in Model["clients"])
    {
      <li><a href="/stylists/@Model["stylist"].GetId()/clients/@client.GetId()">@client.GetName()</a></li>
    }
    </ul>
  }

  <br>
  <form action="/stylists/@Model["stylist"].GetId()/edit">
    <button>Edit</button>
  </form>
  <br>
  <form action='/stylists/@Model["stylist"].GetId()/delete' method="post">
    <button type='submit'>Delete</button>
  </form>
  <br>
  <form action="/stylists/@Model["stylist"].GetId()/clients/new">
    <button>Add new client</button>
  </form>
  <br>
</div>
<div class="footer center">
  <div class="container">
    <br>
    <p><a href="/stylists">Go back to Stylists list</a></p>
    <p><a href="/">Go back to home page</a></p>
  </div>
</div>
